
  <li class="dropdown-submenu">
    <a href="#">About<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a href="/about/dev1">Dev - 1<span class="caret"></span></a>
      </li>
</li>
