<div class="container">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" href="/">Home</a>
          </li>
          <li>
            <a href="/category">category</a>
          </li>
          <!-- <li>
            <a href="/order">Order</a>
          </li> -->
          <!-- <li>
            <a href="/product">Product</a>
          </li>
          <li>
            <a href="/orderLineItem">OrderLineItem</a>
          </li> -->
          <li>
            <a href="/account">Account</a>
          </li>
          <li>
            <a href="/transaction">transaction</a>
          </li>
          <li>
            <a href="/user">user</a>
          </li>
          <% include about.ejs %>
        </ul>

      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>