
<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-4">
      <a href="/category" class="btn btn-info"> Category </a>
    </div>
  </div>
  <br>
  <br>
  <div class=row>
    <div class="col col-md-4">
      <a href="/account" class="btn btn-info"> Account </a>
    </div>
  </div>
  <br>
  <br>
  <div class=row>
    <div class="col col-md-4">
      <a href="/transaction" class="btn btn-info"> Transaction </a>
    </div>
  </div>
  <br>
  <br>
  <div class=row>
    <div class="col col-md-1">
      <a href="/user" class="btn btn-info"> User </a>
    </div>
    <div class="col col-md-1">
      <input id="numId2" type="number" style="width:80px" placeholder="User Id" required>
    </div>
    <div class="col col-md-2">
      <a id="demo2" href="/user/findone/" onclick="myFunctionTwo()" class="btn btn-info">Find One</a>
    </div>
    <div class="col col-md-2">
      <a href="/user/findall/" class="btn btn-info">Find All</a>
    </div>
  </div>

</div>

<style>
  body{background:#F8B195;}
  .lay{width:45%;height:auto;border:1px solid;float:left;margin-right: 22px;}
  </style>

<script>

  function myFunctionTwo() {
    let x = document.getElementById("numId2").value;
    document.getElementById('demo2').setAttribute('href', document.getElementById('demo2').getAttribute('href') + x);
  }
</script>