<br/>
<br/>
<h2>User details</h2>
<br/>
<br/>   ID:
<%=  user._id %>
  <br> Firstname:
  <%=user.firstname%>
    <br/> Lastname:
    <%=user.lastname%>
      <br/> email:
      <%=user.email%>
      <br/> mobile:
      <%=user.mobilenumber%>

        <br/>
        <br/>
            <br/>
            <form method="get" action="/user">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>