<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="user/create" class="btn btn-primary new">
        Create a new User
      </a>
      <h2>Recent account entries</h2>
      <p>There are
        <%= users.query.length %> Users.
          <br/>
      </p>
      <% for (var i = users.query.length-1; i >= 0; i--) {   
        user = users.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  user._id %>
              <br> firstname:
              <%=user.firstname%>
                <br/> lastname:
                <%=user.lastname%>
                  <br/> mobilenumber:
                  <%=user.mobilenumber%>
                  <br/> Email:
                  <%=user.email%>
               
               

                    <br/>
                    <br/>
                   
                          <br/>
                          <br/>
                          <a href="/user/delete/<%= user._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/user/details/<%= user._id %>" class="btn btn-info"> Details </a>
                          <a href="/user/edit/<%= user._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>