<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="firstname">firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname" value="<%= user.firstname %>" required>
      </div>
      <div class="form-group">
        <label for="Lastname">Lastname</label>
        <input type="text" class="form-control" id="Lastname" name="Lastname" value="<%= user.Lastname %>">
      </div>
      <div class="form-group">
        <label for="mobilenumber">mobilenumber</label>
        <input  type="text" class="form-control" id="mobilenumber" name="mobilenumber" value="<%= user.mobilenumber %>" required>
      </div>
  
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
      </div>
      <div class="form-group">
        <label for="street1">street1</label>
        <input type="text" class="form-control" id="street1" name="street1" value="<%= user.street1 %>" required>
      </div>
      <div class="form-group">
        <label for="street2">street2</label>
        <input type="text" class="form-control" id="street2" name="street2" value="<%= user.street2 %>" required>
      </div>
      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control" id="city" name="city" value="<%= user.city %>" required>
      </div>
      <div class="form-group">
        <label for="state">state</label>
        <input type="text" class="form-control" id="state" name="state" value="<%= user.state %>" required>
      </div>
      <div class="form-group">
        <label for="zip">zip</label>
        <input type="text" class="form-control" id="zip" name="zip" value="<%= user.zip %>" required>
      </div>
      <div class="form-group">
        <label for="country">country</label>
        <input type="text" class="form-control" id="country" name="country" value="<%= user.country %>" required>
      </div>
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  
  
  </div>