<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="ID" value="<%= transaction._id %>" required>
    </div>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="<%= transaction.email %>" required>
    </div>
    

    <div class="form-group">
      <label for="state">orderID</label>
      <input type="text" class="form-control" id="orderID" name="orderID" value="<%= transaction.orderID %>" required>
    </div>

    <div class="form-group">
      <label for="dateShipped">dateShipped</label>
      <input type="number" class="form-control" id="dateShipped" name="dateShipped" value="<%= transaction.dateShipped %>" required>
    </div>

    <div class="form-group">
      <label for="productID">productID</label>
      <input type="text" class="form-control" id="productID" name="productID" value="<%= transaction.productID %>" required>
    </div>


  </div>
</div>
<hr>

<!-- parents  -->
<p></p>


</div>